
<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Titre de la page</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>

  <div id ='app'>

    Some HTML here

    <ul>
        <li>Pommes: {{ todos[0] }}€</li>
        <li>Bananes: {{ roger }}€</li>
        <li>Noix de coco: {{ todos[1] }}€</li>
    </ul>

    <li v-for= "item in todos">
      <ul> <p @click = alertColor(item.add)> {{ item.name }} </p>  {{ item.add}} </ul>
    </li>

    <li>
      <ul v-for ="item in roger"> {{item.descp}} </ul>
    </li>

    <input @keyup.enter = addItem(1,roger) id="1" type="text" v-model="roger" />

  </div>

  <script src ="app.js"></script>

</body>
</html>
